// base.less是用来写一些项目都需要的公共样式;

// 定义乐淘主题色
@main-color:#006699;

img {
    vertical-align: middle;
}
* {
    padding: 0;
    margin: 0;
}
li {
    list-style:none;
}
a {
    color: #666;
}

[class^="fa-"],[class*=" fa-"]  {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

// 头部区域的公共样式

#header {
    height: 45px;
    background-color: @main-color;
    color: #fff;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 999;
    >h4 {
        line-height: 45px;
        font-weight: normal;
        margin: 0;
    }
    .fa-search {
        color: #fff;
        position: absolute;
        right: 10px;
        top: 14px;
    }
    .fa-arrow-left {
        position: absolute;
        left: 10px;
        top: 14px;
        color: #fff;
    }
    form {
        padding-left: 35px;
        padding-right: 35px;
        >input {
            width: 100%;
            background-color: #fff;
            height: 30px;
            margin-top: 7px;
            font-size: 14px;
            text-align: left;
            color: #000;
        }
    }
}

// 底部的公共样式

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: @main-color;
    padding: 11px;
    z-index: 998;
    .mui-row {
        >div {          
            >a {              
                color: #fff;
                font-size: 14px;
                text-align: center;
                display: block;
                &.active {
                    color: orange;
                }
               
                &::before {
                    display: block;
                }
            }
        }
    }
}


// 主体内容
html,
body {
    height: 100%;
}
#main {
    padding-top: 45px;
    padding-bottom: 50px;
    height: 100%;
    background-color:#fff;
}